#logo{
    /*background-color: aqua;*/
    
    
    height: 100px;
    padding top: 20px;
    
    
}

#logo img{
    
    display: block;
    margin: 0px auto;
    height: 90px;
    padding-top: 1%;
    
}

nav{
    
    text-align: center;
    height: 100px
}




nav a{
    
    text-decoration:none;
   
    line-height: 120px;
    padding-left: 4%;
  margin-right: 40px;
   
    font-size: 18px;
    color: rgb(0, 0, 0);
    font-family: sans-serif;
    
    text-transform: uppercase;
    
}

nav a:hover{
    color: #00cc99;
    
}
nav a:hover{
    color: #00cc99;
    background-color: ;
    
}
nav .active{
    
    color: #0ba39c;
}



#text{
    background-color: black;
    color: white;
   font-size: 70px;
     
      font-family: fantasy;
      max-width: 5%;
  
    padding-right:  7%;
    padding-left:  7%;
   
    width:70%;
    margin: 300px;
    text-align: center;
    line-height: 130px;
}


input{

    width: 60%;
    height: 50px;
    background-color: ;
    display: inline-block;
 
   font-size: 50px;
   text-align: center;
   margin-top: 5%;
   
}
#txt{
   
    width:50%;
   height: 300px;
}


#butt{
    color: black;
    background-color: black;
    color: white;
    width: 10%;
    height: 60px;
    display: block;
  margin-left: 45%;
   font-size: 40px; 
   margin-top: 5%;
   border-radius: 10%;
  
}

#butt:hover{
    background-color: white;
    color:black;
}


